.location {
	margin-left: 230px;
}

.temperature {
	margin-left: 230px;
}

.humidity {
	margin-left: 230px;
}

.wind {
	margin-left: 230px;
}

.well {
	margin-top: 100px;
	background-image: url("1.jpg");
}