input[type=text] {
	text-align: right;
}

#calc-contain {
	position: relative;
	width: 300px;
	border: 2px solid black;
	border-radius: 4px;
}

input[type=button] {
	background-color: lightgrey;
	width: 20%;
	font-size: 20px;
	font-weight: 900;
	margin: 2%;
	border-radius: 4px;
}
input[type=text] {
	position: relative;
	display: block;
	width: 90%;
	margin: 5px auto;
	font-size: 20px;
}
